
/* slideshow 2 */

.ss2_wrapper { position:relative; width: 1000px; height:500px; /* margin:0 0 20px 0; */ overflow:hidden; margin: 0 auto;}
.ss2_wrapper .slideshow { position:relative; width:1000px; height:500px; }

.ss2_wrapper .slideshow_item { width:1000px; height:500px; }
.ss2_wrapper .slideshow_item .data { display:none; }	

.ss2_wrapper a.slideshow_prev { position:absolute; left: 10px; top: 185px; z-index: 10; width:40px; height:46px; outline:none; background: url(../images/trans-black-70.png); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 2px #222; -webkit-box-shadow: 0 0 2px #222; box-shadow: 0 0 2px #222; border: none;}
.ss2_wrapper a.slideshow_prev:hover { background:#000; }
.ss2_wrapper a.slideshow_prev span { display:block; width:40px; height:46px; background:url(../images/arrows_1.png) no-repeat -55px 50%; text-indent: -9999px; }

.ss2_wrapper a.slideshow_next { position:absolute; right: 10px; top: 185px; z-index:10; width:40px; height:46px; outline:none; background: url(../images/trans-black-70.png); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 2px #222; -webkit-box-shadow: 0 0 2px #222; box-shadow: 0 0 2px #222;  }
.ss2_wrapper a.slideshow_next:hover { background:#000; }
.ss2_wrapper a.slideshow_next span { display:block; width:40px; height:46px; background:url(../images/arrows_1.png) no-repeat -5px 50%; text-indent: -9999px; }

.ss2_wrapper .slideshow_paging { position:absolute; top: 60px; right: 25px; z-index:11; font-size:12px; padding:3px 2px; background:url(../images/trans-black-70.png); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 2px #222; -webkit-box-shadow: 0 0 2px #222; box-shadow: 0 0 2px #222; /* background-color: #000; */}
.ss2_wrapper .slideshow_paging a { display:block; float:left; margin:0 1px; padding:3px 7px; color:#ccc; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.ss2_wrapper .slideshow_paging a:hover { color:#fff }
.ss2_wrapper .slideshow_paging a.activeSlide { background:#eee; color:#222 }

.ss2_wrapper .slideshow_box { position:absolute; left:0; bottom:0; /* background:url(../images/trans-black-70.png); */ width:100%; height: 50px; z-index:10;  background-color: #171B27; opacity: 0.5;}
.ss2_wrapper .slideshow_box .data { padding:15px 20px; color:#ccc;  }
.ss2_wrapper .slideshow_box .data h1 { color:#fff; font-size:20px; font-family: "lucida grande","lucida sans unicode",arial,sans-serif; padding:0; margin:0 0 5px 0; text-align: center; text-shadow: 1px 1px 1px #000; }
.ss2_wrapper .slideshow_box .data p { padding-bottom:15px; margin:0; line-height:140%; font-size: 14px; font-family: "lucida grande","lucida sans unicode",arial,sans-serif;}
.ss2_wrapper .slideshow_box .data a { color:#fff; font-family: "lucida grande","lucida sans unicode",arial,sans-serif; font-size: 18px;}


.simple-video-overlay {
    background: rgba(0,0,0,0.4) url(../images/button.png) 50% 50% no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
video{
    width: 100%;
    height:100%;
}