/* ----------------------
Stylesheet Guide
-------------------------

FONTS
GENERAL STYLES
FORMS
LOADING ANIMATION
PAGE STRUCTURE
MAIN MENU
SIDEBAR
SUBMENU
FLICKR FEED
HOMEPAGE
HOME SOCIAL BAR
CV TABLE
ICON CONTAINERS
SKILLS
PORTFOLIO
LIGHTGALLERY
TOOLTIPS
TESTIMONIALS
ACCORDION
BLOG
TABS
FLEX IMAGE
CV BOXES
YOUTUBE VIDEO
FOOTER

*/
/* ================= GENERAL STYLES  ================== */

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #004B8D;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #004B8D;
}

body {
    background-color: #fff;
    color: #949494;
}

h1, h2, h3, h4, h5, h6 {
    color: #10222B;
}

h1.border:after,
h2.border:after,
h3.border:after,
h4.border:after,
h5.border:after,
h6.border:after {
    background-color: #004B8D;
}

span {
    color: #000000;
}

p {
    /*color: #949494;*/
    color: #000000;
}

a {
    color: #10222B;
}

a:hover {
    color: #004B8D;
}

.label {
    background-color: #f3f3f3;
    border-left: 3px solid #004B8D;
}

blockquote {
    background: #f3f3f3;
}

blockquote:before {
    background-color: #004B8D;
    border: 5px solid #fff;
    color: #fff;
}

hr {
    background-color: #f3f3f3;
}

.floor {
    background-color: #fff;
}

/* ================= FORMS ================== */
input,
textarea {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    color: #949494;
}

input:focus,
textarea:focus {
    background-color: #f3f3f3;
    color: #10222B;
}

.cv-button {
    background-color: #fff;
    border: 3px solid #10222B;
    color: #10222B;
}

.cv-button.primary {
    background-color: #10222B;
    color: #fff;
}

.cv-button:hover {
    background-color: #004B8D;
    border: 3px solid #004B8D;
    color: #fff;
}

#cv-sidebar input, #cv-sidebar textarea {
    color: #949494;
    background-color: rgba(255, 255, 255, 0.05);
}

#cv-sidebar input:focus, #cv-sidebar textarea:focus {
    color: #fff;
}

#cv-sidebar .cv-button {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.05);
}

#cv-sidebar .cv-button:hover {
    background-color: #10222B;
}

/* ================= LOADING ANIMATION ================== */
#site-loading {
    background-color: #10222B;
}

/* ================= PAGE STRUCTURE ================== */
.cv-page-content {
    border-bottom: 50px solid #fff;
}

#cv-page-right {
    background-color: #fff;
}

/* ================= MAIN MENU ================== */
#cv-menu {
    background-color: #10222B;
}

#cv-main-menu ul li a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#cv-main-menu ul li:first-child a {
    background: #004B8D;
}

/* ================= SIDEBAR ================== */
#cv-sidebar {
    background-color: #333;
}

#cv-sidebar h1, #cv-sidebar h2, #cv-sidebar h3, #cv-sidebar h4, #cv-sidebar h5, #cv-sidebar h6 {
    color: #fff;
}

#cv-sidebar, #cv-sidebar p {
    color: #949494;
}

.cv-sidebar-title {
    background-color: rgba(255, 255, 255, 0.05);
}

.cv-sidebar-title:before {
    border-top-color: rgba(255, 255, 255, 0.05) !important;
}

.cv-sidebar-list li a {
    color: #949494;
}

.cv-sidebar-list li a:hover {
    color: #fff;
}

.cv-sidebar-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.cv-tags {
    color: #fff;
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
}

.cv-tags:hover, .sidebar-tags .tags:hover {
    color: #fff;
    background-color: #004B8D;
}

.cv-sidebar-post-title {
    color: #949494;
}

.cv-sidebar-post-title:hover {
    color: #fff;
}

.cv-sidebar-posts li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.cv-sidebar-posts li img {
    border: 3px solid rgba(255, 255, 255, 0.05);
}

.cv-sidebar-posts li img:hover {
    border: 3px solid #fff;
}

/* ================= HOMEPAGE ================== */
#home-title h1 span {
    color: #fff;
    background-color: #10222B;
    font-family: brandon_med;
}

#home-slide-title span, #home-title h1 .mobile-title {
    color: #fff;
    background-color: #004B8D;
    font-family: brandon_med;
}

#home-title p {
    color: #10222B;
    background-color: #fff;
    font-family: brandon_light;
    padding: 20px 40px;
    text-align: center;
    font-size: 25px;
    display: table-cell;
}

/* ================= HOME SOCIAL BAR ================== */
#cv-home-social-bar ul li a {
    color: #10222B;
    border-right: 1px solid #f3f3f3;
    background-color: #fff;
}

#cv-home-social-bar ul li a:hover {
    color: #004B8D;
}

/* ================= CV TABLE ================== */
.cv-table li {
    color: #000000;
}

.cv-table li {
    border-bottom: 1px solid #f3f3f3;
}

.cv-box .cv-table li {
    border-bottom: 1px solid #fff;
}

.cv-table li:first-child {
    border-top: 1px solid #f3f3f3;
}

.cv-box .cv-table li:first-child {
    border-top: 1px solid #fff;
}

.cv-table .cv-table-title {
    color: #10222B;
}

/* ================= ICON CONTAINERS ================== */
.cv-icon-container {
    background-color: #f3f3f3;
}

.cv-icon-container a {
    color: #949494;
}

.cv-icon-container a:before {
    color: #949494;
}

/* ================= SKILLS ================== */
.cv-resume-title {
    border-bottom: 1px solid #f3f3f3;
}

/* ================= PORTFOLIO ================== */
.cvgrid li figure figcaption {
    background-color: #f3f3f3;
}

.cvfilters li {
    color: #949494;
    background-color: #f3f3f3;
    font-family: brandon_light;
}

.cvfilters li:hover {
    color: #10222B;
}

.cvfilters li.gridactive {
    color: #fff;
    background-color: #004B8D;
}

.cvfilters li.gridactive:hover {
    color: #fff;
}

.cvgrid li figure figcaption .cvgrid-title {
    color: #949494;
}

.cvgrid > li > figure > a:after {
    color: #fff;
    background-color: #004B8D;
}

/* ================= LIGHTGALLERY ================== */
.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: rgba(34, 34, 34, 0.5);
    color: #949494;
}

.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
    color: #fff;
}

.lg-toolbar {
/*    background-color: rgba(34, 34, 34, 0.5);*/
}

.lg-toolbar .lg-icon {
    color: #949494;
}

.lg-toolbar .lg-icon:hover {
    color: #fff;
}

.lg-sub-html {
/*    background-color: rgba(34, 34, 34, 0.5);*/
    color: #fff;
}

#lg-counter {
    color: #949494;
}
#lg-counter span{
    color: #fff;
}

.lg-outer .lg-thumb-outer {
    background-color: #333;
}

.lg-outer .lg-toogle-thumb {
    background-color: #333;
    color: #949494;
}

.lg-outer .lg-toogle-thumb:hover {
    color: #fff;
}

.lg-progress-bar {
    background-color: #333;
}

.lg-progress-bar .lg-progress {
    background-color: #004B8D;
}

.lg-backdrop {
    background-color: #10222B;
}

/* ================= TOOLTIPS ================== */
.tooltipster-light {
    background: #fff;
    color: #10222B;
}

.tooltipster-dark, .tooltipster-gototop {
    background: #10222B;
    color: #fff;
}

.tooltipster-red {
    background: #004B8D;
    color: #fff;
}

/* ================= TESTIMONIALS ================== */
.quovolve-nav a {
    background: #f3f3f3;
    color: #949494;
}

.quovolve-nav a:hover {
    background: #f3f3f3;
    color: #10222B;
}

.nav-numbers li a:hover {
    color: #10222B;
    background: #f3f3f3;
}

.nav-numbers li.active a {
    color: #fff;
    background: #10222B;
}

/* ================= FOOTER ================== */
#footer {
    background-color: rgba(243, 243, 243, 0.9);
    background-image: url("../images/geometry-3.png");
    background-position: 50% -50%;
    color: #4c4c4c;
    font-size: 16px;
}

/*.cv-credits a {
    color: #949494;
}*/

.cv-credits a:hover {
    color: #10222B;
}

#cv-back-to-top:before {
    color: #949494;
}

#cv-back-to-top:hover:before {
    color: #10222B;
}