/* ----------------------
Stylesheet Guide
-------------------------

FONTS
GENERAL STYLES
FORMS
LOADING ANIMATION
PAGE STRUCTURE
MAIN MENU
SIDEBAR
HOMEPAGE
HOME SOCIAL BAR
CV TABLE
ICON CONTAINERS
SKILLS
RESUME
CONTACT
PORTFOLIO
TOOLTIPS
TESTIMONIALS
FOOTER

*/
/* ================= FONTS ================== */
@font-face {
    font-family: "Brandon_light";
    src: url('../fonts/brandonGrotesque/brandon_light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "brandon_med";
    src: url('../fonts/brandonGrotesque/brandon_med.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "brandon_bld";
    src: url('../fonts/brandonGrotesque/brandon_bld.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "brandon_blk";
    src: url('../fonts/brandonGrotesque/brandon_blk.otf');
    font-weight: normal;
    font-style: normal;
}

body, p, input, textarea {
    font-family: brandon_light;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, strong, label, .tooltipster-content, .cv-table-left, .cv-button, .cv-resume-title p, .cvfilters li, .cvgrid li figure figcaption .cvgrid-title, #home-slide-title span, #home-title p, blockquote .cite, .nav-numbers li a, .meta, .page-date, .cv-box-title, .cv-readmore {
    font-family: 'brandon_light';
    font-weight: normal;
}

/* ================= GENERAL STYLES ================== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    background-color: transparent;
    overflow: hidden;
    word-spacing: 0.15em;
    letter-spacing: 0.01em;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
    margin-top: 0px;
    line-height: 1;
    letter-spacing: 0.01em;
    word-spacing: normal;
    font-family: brandon_med;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

h1.border,
h2.border,
h3.border,
h4.border,
h5.border,
h6.border {
    position: relative;
    margin-bottom: 50px;
    font-family: brandon_med;
}

h1.border:after,
h2.border:after,
h3.border:after,
h4.border:after,
h5.border:after,
h6.border:after {
    width: 100px;
    height: 3px;
    position: absolute;
    text-align: center;
    bottom: -15px;
    left: 0;
    margin: 0px;
    z-index: 1;
    content: '';
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 0px;
    word-spacing: 0.15em;
    letter-spacing: 0.01em;
}

p:last-child {
    margin-bottom: 0px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.clear,
.clr {
    clear: both;
}

strong {
    font-weight: bold;
    word-spacing: 0.15em;
    letter-spacing: 0.01em;
}

i,
em {
    font-style: italic;
}

label {
    line-height: 1;
    margin-bottom: 5px !important;
    display: block;
    font-family: brandon_light;
    font-size: 16px;
}

.label {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 20px 15px 20px;
    display: inline-block;
}

blockquote {
    margin: 40px 0px;
    padding: 40px;
    position: relative;
    text-indent: 50px;
}

blockquote:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    speak: none;
    text-indent: 0em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    margin: 0px;
    z-index: 1;
    display: inline-block;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    content: '\f10d';
    top: -10px;
    left: -10px;
}

blockquote p {
    display: inline;
    font-size: 20px;
    margin: 0px;
    line-height: 1.5;
    font-family: brandon_light;
}

blockquote .cite {
    font-style: normal;
    line-height: 1.5;
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: right;
    font-family: brandon_light;
}

blockquote .cite:before {
    content: "— ";
}

blockquote, i, em {
    font-style: italic;
}

hr {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
    border: none;
    height: 1px;
    margin-left: -60px;
    margin-right: -60px;
}

a {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    text-decoration: none;
    font-family: brandon_light;
}

a:hover {
    text-decoration: none;
}

.cv-icon {
    text-align: center;
    margin-right: 10px;
}

.responsive-img img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.img-mobile-only {
    display: none;
}

.img-mobile-only img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* ================= FORMS ================== */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea {
    position: relative;
    width: 100%;
    display: block;
    margin: 0px 0px 30px 0px;
    padding: 15px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    outline: none !important;
    word-spacing: 0.15em;
    letter-spacing: 0.01em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
input[type="password"]:focus {
    outline: none !important;
}

textarea {
    height: 140px;
    margin-bottom: 30px !important;
}

.cv-button {
    font-family: brandon_light;
    font-size: 15px;
    line-height: 1;
    padding: 15px 30px;
    display: inline-block;
    margin: 10px 5px 0px 0px;
    text-transform: uppercase;
    text-decoration: none !important;
    outline: none;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    word-spacing: 0.15em;
    letter-spacing: 1px;
    text-align: center;
}

form .cv-button {
    margin-top: 0px;
}

.form-box {
    margin-top: 40px;
}

/* ================= LOADING ANIMATION ================== */
#site-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    z-index: 999999999;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

/* ================= PAGE STRUCTURE ================== */
.cv-left-slider {
    width: 50%;
    width: calc(50% - 2.5em);
    height: 100%;
    position: fixed;
    left: 5em;
    top: 0;
    z-index: 2;
}
.cv-left-slider:after{
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(54, 66, 95, 0.6);
}

.floor {
    z-index: 1;
    padding-left: 50%;
    padding-left: calc(50% + 2.5em);
    -webkit-overflow-scrolling: touch;
}

.cv-page-content {
    position: relative;
    display: inline-block;
    padding: 60px;
    width: 100%;
    vertical-align: bottom;
    margin: 0px;
    min-height: 100%;
}

#cv-page-left, #cv-page-right {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
}

#cv-page-left {
    width: calc(50% - 2.5em);
    left: 5em;
}

#cv-page-right {
    width: calc(50% - 2.5em);
    right: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* ================= MAIN MENU ================== */
#cv-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
}

#cv-main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cv-main-menu ul li a {
    display: block;
    text-indent: -500em;
    height: 5em;
    width: 5em;
    line-height: 5em;
    text-align: center;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
    font-family: brandon_light;
}

#cv-main-menu ul li a:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

#cv-main-menu ul li:first-child a:before {
    font-size: 30px;
    opacity: 1;
}

#cv-main-menu ul li.cv-active a:before, #cv-main-menu ul li a:hover:before {
    opacity: 1;
}

#cv-main-menu ul li.cv-active a {
    cursor: default;
    pointer-events: none;
}

.cv-menu-button:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.cv-menu-button.rotate-menu-icon:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ================= SIDEBAR ================== */
#cv-sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    left: 5em;
    z-index: 99;
    width: 480px;
    max-width: calc(100% - 5em);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow: hidden;
}

#cv-sidebar-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cv-sidebar .cv-panel-widget {
    padding: 40px;
}

#cv-sidebar.open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.cv-sidebar-title h5 {
    line-height: 3.5em;
    margin: 0px;
    padding: 0px 40px;
}

.cv-sidebar-title {
    height: 5em;
    position: relative;
}

.cv-sidebar-title:before {
    top: 100%;
    right: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 10px;
    margin-left: 0px;
    z-index: 9;
}

.cv-sidebar-list li a {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
}

.cv-sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.cv-sidebar-list li {
    padding-left: 0px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.cv-sidebar-list li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

.cv-sidebar-list li a:hover {
    text-decoration: none;
}

.cv-tags-container {
    position: relative;
    display: inline-block;
}

.cv-tags {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 7px 5px 7px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.cv-tags:hover {
    text-decoration: none;
    opacity: 1;
}

.cv-sidebar-posts-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
}

.cv-sidebar-posts {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}

.cv-sidebar-posts li {
    position: relative;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 90px;
    float: left;
    width: 100%;
    min-height: 91px;
}

.cv-sidebar-posts li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    min-height: 70px;
}

.cv-sidebar-posts li img {
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}

.cv-sidebar-post-title {
    display: inline-block;
}

.cv-sidebar-post-date {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 13px;
    font-style: italic;
    opacity: 0.7;
}

/* ================= HOMEPAGE ================== */
#home-image {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#home-image:after{
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(54, 66, 95, 0.6);
}

#home-title, #home-slide-title {
    position: absolute;
    top: 60px;
    z-index: 3;
    vertical-align: bottom;
}

#home-title h1 {
    margin: 0px;
}

#home-title h1 span, #home-slide-title span {
    font-size: 60px;
    margin: 0px;
}

#home-title h1 span, #home-slide-title span {
    padding: 40px 60px;
    display: inline-block;
    line-height: 1;
}

#home-title h1 .mobile-title {
    display: none !important;
}

/*#home-title p {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    word-spacing: normal;
    display: inline-block;
}*/

#home-title {
    left: 0px;
}

#home-slide-title {
    right: 0px;
}

/* ================= HOME SOCIAL BAR ================== */
#cv-home-social-bar-container {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 999;
}

#cv-home-social-bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: bottom;
}

#cv-home-social-bar ul li {
    list-style-type: none;
    float: left;
}

#cv-home-social-bar ul li a {
    display: block;
    text-indent: -500em;
    height: 5em;
    width: 5em;
    line-height: 5em;
    text-align: center;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#cv-home-social-bar ul li:last-child a {
    border: none !important;
}

#cv-home-social-bar ul li a:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

/* ================= CV TABLE ================== */
.cv-table {
    list-style: none;
    padding: 0;
    margin: 0px 0px 30px 0px;
    vertical-align: bottom;
    display: inline-block;
}

.cv-table li {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    word-spacing: 0.1em;
    line-height: 1.5;
}

.cv-table li:first-child, .cv-box .cv-table li:first-child {
    padding-top: 10px;
    margin-top: 10px;
}

.cv-table .cv-table-title {
    margin-bottom: 5px;
}

.cv-table .cv-table-text {
    font-size: 15px;
}

.cv-table-left {
    float: left;
    display: inline-block;
    padding-bottom: 12px;
    font-family: brandon_light;
}

.cv-table-right {
    float: right;
    display: inline-block;
    padding-bottom: 12px;
    font-family: brandon_light;
}

/* ================= ICON CONTAINERS ================== */
.cv-main-icon-container {
    position: relative;
/*    margin-left: -20px;
    margin-right: -20px;*/
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: -30px;
}

.cv-main--container:after {
    clear: both;
}

.cv-icon-block {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cv-icon-container {
    position: relative;
    text-align: center;
    margin: 0px auto 30px auto;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 120px;
    height: 120px;
}

.cv-icon-text {
    text-align: center;
    margin-bottom: 0px;
}

.cv-icon-text h4 {
    margin-bottom: 20px;
}

.cv-icon-container a {
    display: block;
    text-indent: -500em;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
}

.cv-icon-container a:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* ================= SKILLS ================== */
.skillon{
    padding-bottom: 25px;
}

/* ================= RESUME ================== */
.cv-resume-box {
    position: relative;
    margin-bottom: 40px;
}

.cv-resume-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.cv-resume-title h5 {
    margin-bottom: 10px;
}

.cv-resume-title p {
    margin-bottom: 0px;
    line-height: 1;
    font-size: 18px;
}

/* ================= CONTACT ================== */
.google-map-container {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#google-map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.mobile-map-container {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: none;
}

#mobile-map {
    height: 350px;
    margin: 0px;
}

/* ================= PORTFOLIO ================== */
.cvgrid {
    list-style-type: none;
    position: relative;
    margin: 0px 0px -20px 0px;
    padding: 0px;
    display: none;
}

.cvgrid li {
    float: left;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    list-style-type: none;
    border: 1px solid #F4F4F4;
}

.cvgrid li.cvgrid-animate {
    -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.cvgrid li.wookmark-inactive {
    visibility: hidden;
    opacity: 0;
}

.cvgrid li figure {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.cvgrid li figure figcaption .cvgrid-title {
    margin: 0px;
    text-decoration: none;
    line-height: 1;
    outline: none;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.cvgrid li figure figcaption .cvgrid-details{
    padding: 0px 10px 15px 10px;
    text-align: center;
    font-size: 15px;
}

.cvgrid > li > figure > a {
    position: relative;
    outline: none;
    overflow: hidden;
    display: block;
}

.cvgrid > li > figure > a:after {
    position: absolute;
    text-align: center;
    line-height: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin-top: -28px;
    margin-left: -28px;
    padding: 14px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cvgrid > li > figure > a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cvgrid > li > figure > a.cvgrid-img:after {
    content: "\f002";
}

.cvgrid > li > figure > a.cvgrid-video:after {
    content: "\f04b";
}

.cvgrid > li > figure > a.cvgrid-link:after {
    content: "\f0c1";
}

.cvgrid > li > figure > a > img {
    width: 100%;
    display: block;
    padding: 12px;
    margin: 0px;
    border: none;
    vertical-align: bottom;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cvgrid > li > figure > a:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.3;
}

.cvgrid li figure figcaption {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.cvfilters {
    list-style-type: none;
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: bottom;
}

.cvfilters li {
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin: 0px 1px 1px 0px;
    padding: 15px 20px;
    line-height: 1;
    width: auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

/* ================= TOOLTIPS ================== */
.tooltipster-dark .tooltipster-content, .tooltipster-light .tooltipster-content, .tooltipster-red .tooltipster-content {
    font-size: 18px;
    line-height: 1;
    padding: 15px 20px;
    overflow: hidden;
    font-family: brandon_light;
}

.tooltipster-gototop .tooltipster-content {
    font-size: 15px;
    line-height: 1;
    padding: 10px 15px;
    overflow: hidden;
}

/* ================= TESTIMONIALS ================== */
.quovolve {
    margin-top: 60px;
}

.quovolve blockquote {
    margin: 0px !important;
}

.quovolve-nav:after {
    clear: both;
}

.quovolve-nav {
    margin: 5px 0px 0px 0px;
    line-height: 30px;
    zoom: 1;
}

.quovolve-nav span {
    float: left;
    margin-right: 5px;
}

.quovolve-nav a {
    line-height: 20px;
    display: block;
    padding: 10px 15px;
    border: 0 none;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.nav-numbers {
    list-style: none;
    margin: 0;
    float: right;
}

.nav-numbers li {
    float: left;
    margin: 0 0 0 5px;
}

.nav-numbers li a {
    padding-left: 0px;
    padding-right: 0px;
    width: 40px;
}

.nav-text {
    margin-left: 30px;
}

/* ================= FOOTER ================== */
#footer {
    position: fixed;
    bottom: -100%;
    right: 0px;
    width: 50%;
    width: calc(50% - 2.5em);
    z-index: 9;
    height: 50px;
}

#footer.fixed-footer {
    bottom: 0px;
}

.cv-credits {
    padding: 0px 60px;
    line-height: 50px;
    display: inline-block;
    width: 100%;
}

.cv-credits a, .cv-credits a:hover {
    text-decoration: underline;
}

#cv-back-to-top {
    position: absolute;
    bottom: 12px;
    right: 60px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    vertical-align: bottom;
    z-index: 2;
}
.links-to-floor-li{
    display: none;
}
.success,
.error {
    display: none;
}