/*
 Author: Nahida Sultana
 */

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/
	.form{ margin:0 0 0 20px}
	
}	
   
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	.header h1{ font-size:46px;}
	.about p.padding-b{ padding-bottom:15px;}
	.main-section{ padding:70px 0;}
	.form{ margin:0;}
	.social-link{ margin:0;}
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/
	body{ font-size:12px;}
	p{ line-height:18px;}
	.header-2 li{ font-size:20px; padding:0 0 0 8px;font-weight: 700;}
	.header h1{ font-size:28px;font-weight: 700;}
	.header{ padding:60px 0;}
	.main-section{ padding:60px 0 70px;}
	.about{ font-size:12px; margin-top:30px;padding-left: 18px;}
	.about-list{ font-size:12px;}
	.about-list p{ line-height:18px; }
	.social-link{ margin-left:30px;} 
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.main-section.contact{ padding:60px 0 70px}
	.main-section.contact{ background-size:contain;}
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/
	.header{ padding:40px;}
	.social-link{ margin-left:0px;padding-top: 20px;}
	.form{ margin:0}
    .btn-popup{font-size: 18px;padding: 15px;}
}