/* --------------------------------------
=========================================
COLOR : BLUE

MAIN COLOR CODE: #008ed6

DEEP COLOR CODE: #005885
=========================================
----------------------------------------- */

.color-overlay {
    /*background: rgba(54, 66, 95, 0.8);*/
    background: rgba(3, 59, 132, 0.5) url("../../images/patterns/circles.png");
}

.standard-button {
    background: #FCDD74;
    color: #333333;
    font-family: brandon_med;
}

.standard-button2 {
    background: #008ed6;
    font-family: brandon_med;
    font-size: 16px;
    text-transform: uppercase;
}

.standard-button2:hover {
    background: #005885;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #005885;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background: #008ed6;
}

.main-color {
    color: #37D2FD;
    font-weight: 400;
    font-family: brandon_med;
}

.color-bg {
    background: #008ed6;
    color: #FFFFFF;
}

.features .feature:hover .icon-container .icon {
    background: #008ed6;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #008ed6;
    box-shadow: 0px 0px 0px 2px #008ed6;
}

.features .feature .icon-container .icon {
    border: 1px solid #008ed6;
    color: #008ed6;
}

.feature-list li i {
    color: #008ed6;
}

.services .single-person .service-icon,
.services .single-person h3 {
    color: #D1E7F8;
    font-weight: 400;
}

.books .owl-theme .owl-controls .owl-page span {
    background: #FBDC73;
}

footer .contact-box .expanded-contact-form .input-box:active,
footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .input-box:focus,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    border: 1px solid #008ed6;
}

footer .social-icons li a:hover {
    color: #008ed6;
}