/*!
Author:Nahida Sultana.
Author URL: nahidasultana.info
 */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 25px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

li {
    list-style-type: none;
}

i {
    padding-right: 5px;
}

li.list {
    font-size: 16px;
    font-weight: 700;
}

.list i {
    font-size: 20px;
    color: #064481;
}

.form-control {
    height: 50px;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

/*Thumbnail image starts*/

.thumbnail {
    margin-bottom: 0px;
    border: none;
    background-color: transparent;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

/*Thumbnail image ends*/

/*Panel Starts*/

.panel-default {
    border-color: #ddd;
    position: relative;
    top: -650px;
    width: 40%;
    float: right;
    right: 80px;
    border-radius: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,b8e2f6+0,d8f0fc+50,b6dffd+100 */
    background: #e0f3fa; /* Old browsers */
    background: -moz-linear-gradient(top, #e0f3fa 0%, #b8e2f6 0%, #d8f0fc 50%, #b6dffd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e0f3fa 0%, #b8e2f6 0%, #d8f0fc 50%, #b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e0f3fa 0%, #b8e2f6 0%, #d8f0fc 50%, #b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f3fa', endColorstr='#b6dffd', GradientType=0); /* IE6-9 */
}

.modal-header {
    border: none;
    margin: -14px -14px 10px;
}

.panel-body {
    padding: 30px;
}

/*Panel Ends*/

/*Button Starts*/

.btn-container {
    padding-top: 30px;
}

button.close, button.close:hover {
    display: block;
    position: absolute;
    top: -9pt;
    right: -9pt;
    width: 20pt;
    height: 20pt;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    background: black;
    border: 2pt solid white;
    -webkit-border-radius: 20pt;
    -moz-border-radius: 20pt;
    border-radius: 20pt;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=20);
    opacity: 1;
}

.btn-primary {
    width: 100%;
}

.btn-popup {
    border: 5px solid #064481;
    background: transparent;
    color: #064481;
    padding: 15px;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}

.btn-popup:focus {
    outline: none !important;
}

.btn-popup:hover, .btn-popup:active {
    color: #fff;
    background-color: #064481;
    border-color: #4B81BF;
}

.btn-view {
    padding: 11px 12px;
    font-size: 20px;
    background-color: #064481;
    border-color: #064481;
}

/*Button Ends*/

/*Social Icon Starts*/

.social-link {
    margin-left: 40%;
}

ul.social-link-icon {
    display: inline-flex;
    margin-left: -50px;
}

.social-link-icon li {
    background-color: #064481;
    padding: 14px 5px 8px 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.social-link-icon li i {
    font-size: 18px;
    color: #fff;
}

/*Social Icon Ends*/

/*Media Querias*/

@media (max-width: 1000px), (max-device-width: 1000px) {
    .panel-default {
        background: #FFF;
        position: relative;
        right: 0;
        top: 0;
        padding: 0;
        margin-top: 30px;
        width: 100%;
    }

    .social-link {
        margin-left: 0;
    }

    .clear {
        clear: both;
    }

}