.particletext {
    text-align: center;
    position: relative;
}
.particletext.hearts > .particle {
    opacity: 0;
    position: absolute;
    background-color: #FB4B8F;
    animation: hearts 3s ease-in infinite;
}
.particletext.hearts > .particle:before, body .particletext.hearts > .particle:after {
    position: absolute;
    content: '';
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FB4B8F;
}
.particletext.hearts > .particle:before {
    transform: translateX(-50%);
}
.particletext.hearts > .particle:after {
    transform: translateY(-50%);
}

@keyframes hearts {
    0% {
        opacity: 0;
        transform: translate(0, 0%) rotate(45deg);
    }
    20% {
        opacity: 0.8;
        transform: translate(0, -20%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg);
    }
}
