/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #011C40;;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c8c8c8;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    /*-webkit-transform: translate3d(0, 0, 0);*/
}
#canvasNoise {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; }

#canvasMouse {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

#wrap {
    overflow: hidden;
}

/*Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {

    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

textarea:focus, input:focus {
    color: #ffffff;
}

/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}

p {
    font-family: brandon_light;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.section-description {
    font-weight: 400;
    padding-bottom: 30px;
    font-family: brandon_light;
}

/*---------------------------------------
   Typography
-----------------------------------------*/

/* FONT FACE LOADER */

@font-face {
    font-family: "Brandon_light";
    src: url('../fonts/brandonGrotesque/brandon_light.otf');
    font-weight: 400;
}

@font-face {
    font-family: "brandon_med";
    src: url('../fonts/brandonGrotesque/brandon_med.otf');
    font-weight: 400;
}

@font-face {
    font-family: "brandon_bld";
    src: url('../fonts/brandonGrotesque/brandon_bld.otf');
    font-weight: 400;
}

@font-face {
    font-family: "brandon_blk";
    src: url('../fonts/brandonGrotesque/brandon_blk.otf');
    font-weight: 400;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Brandon_light";
        src: url('../fonts/brandonGrotesque/brandon_light.otf');
        font-weight: 400;
    }
    @font-face {
        font-family: "brandon_med";
        src: url('../fonts/brandonGrotesque/brandon_med.otf');
        font-weight: 400;
    }
    @font-face {
        font-family: "brandon_bld";
        src: url('../fonts/brandonGrotesque/brandon_bld.otf');
        font-weight: 400;
    }
    @font-face {
        font-family: "brandon_blk";
        src: url('../fonts/brandonGrotesque/brandon_blk.otf');
        font-weight: 400;
    }
}

/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 4rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
    font-family: brandon_med;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 25px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    font-family: brandon_light;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}

/*---------------------------------------
   TEXTS AND BG
-----------------------------------------*/

.white-text {
    color: #ffffff;
    font-family: brandon_med;
}

.dark-text {
    color: #272727;
}

.deep-dark-bg {
    /*background: #011526 !important;*/
    background: #011526 url("../images/patterns/black-twill.png");
}

/*---------------------------------------
   SECTIONS
-----------------------------------------*/

.section-header {
    padding-bottom: 78px;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-family: brandon_med;
    font-size: 20px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME
-----------------------------------------*/

header {
    background: url("../images/banner.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

header .color-overlay {
    min-height: 900px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

/* TOP BAR WITH NAVIGATION */
.navbar-collapse {
    float: right;
}

.sticky-navigation {
    min-height: 60px;
    background: #ffffff;
    border: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-header img {
    max-width: 50px;
    margin-top: -10px;
    /*max-height: 30px;*/
    -webkit-backface-visibility: hidden;
}

.sticky-navigation .main-navigation .current a {
    color: #5bc0de;
    position: relative;
    outline: none;
}

.sticky-navigation .main-navigation li a {
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #105C86;
    text-shadow: 1px 1px 1px #eee;
    font-family: brandon_med;
}

.sticky-navigation .main-navigation li a:focus {
    color: #5bc0de;
}

.sticky-navigation .main-navigation li a:hover, .sticky-navigation .main-navigation li a:active {
    color: #5bc0de;
}

.navbar-toggle {
    background-color: #105C86;
    border: 1px solid #105C86;
    margin-top: 14px;
}

.logo-text {
    color: #2a6496;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #b2b2b2;
    font-family: brandon_bld;
}

header .only-logo .navbar {
    background: none;
    padding: 60px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #D0E6F7;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #105C86;
    border: 1px solid #105C86;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}
/* INTRO */

header .intro-section {
    margin: auto;
    padding-top: 5%;
}

header .intro-section .intro {
    color: #D1E7F8;
    margin-bottom: 36px;
    font-family: brandon_med;
    font-size: 70px;
    text-shadow: 1px 1px 1px #4f4f4f;
}

header .intro-section h5 {
    color: #D1E7F8;
    font-family: brandon_med;
    text-shadow: 1px 1px 1px #333;
}

header .intro-section .buttons {
    margin-top: 35px;
}

/*---------------------------------------
   SECTION:  HOW IT WORKS
-----------------------------------------*/

.features {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #011C40 url("../images/patterns/subtle-dots.png");

    /*background: -moz-linear-gradient(top, #1297e0 0, #19b5fe 100%);*/
    /*background: -webkit-linear-gradient(top, #1297e0 0, #19b5fe 100%);*/
    /*background: linear-gradient(to bottom, #1297e0 0, #19b5fe 100%);*/
}

.features .features-left {
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right {
    margin-top: 26px;
    margin-bottom: 80px;
}

.fetaure-details {
    text-align: justify;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    margin-bottom: 40px;
}

.iphone-app {
    width: 100%;
    padding-bottom: 60px;
}

.icon-container {
    display: flex;
}

.features .phone-image img {
    width: 100%;
}

/*----------------------------------------------
   SECTION:  WHY JOIN US AND GET T-SHIRTS HERE
------------------------------------------------*/

.why-us {
    padding-top: 110px;
    padding-bottom: 60px;
    background: #011C40 url("../images/patterns/asfalt-dark.png");
}

.why-us h2 {
    margin-bottom: 20px;
}

.why-us-left-align {
    text-align: justify;
    margin-bottom: 50px;
}

.why-us-left-align p {
    display: block;
    float: none;
    margin-top: 50px;
    font-weight: 400;
}

video {
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.video {
    background: transparent !important;
}

.get-shirts-here {
    padding-top: 110px;
    padding-bottom: 60px;
    background-color: #011C40;
}

.t-shirts-left-align {
    margin-top: 80px;
}

.t-shirts-right-align {
    margin-top: 50px;
}

.get-tshirts {
    background-image: url(../images/svg/background-tshirt.svg);
    background-size: cover;
    padding-bottom: 60px;
}

/*---------------------------------------
   SECTION:  COO APP PROJECT
-----------------------------------------*/
.coo-app {
    /*background-color: #011C40;*/
    background: #011C40 url("../images/patterns/stardust.png");
}

.cooApp {
    margin-top: -20px;
    padding-bottom: 60px;
}

.coo-app.bird-image {
    max-width: 350px;
    margin: auto;
    margin-bottom: 50px;
}

.coo-app.bird-image img {
    width: 100%;
}

/*---------------------------------------
   SECTION:  ABOUT US
-----------------------------------------*/

.about-us {
    position: relative;
    background: #011C40 url("../images/dots.png") repeat;
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    color: #ffffff;
}

.about-us .light-color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.about-us .info-about {
    max-width: 750px;
    margin: auto;
}

.about-us .info-about .image {
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.about-us .info-about .image img {
    width: 100%;
    vertical-align: top;
}

.message {
    font-size: 20px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: brandon_light;
    line-height: initial;
}

.about-us .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}

.about-us .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*---------------------------------------
   SECTION:  MEET OUR TEAMS SECTION
-----------------------------------------*/

.meet-our-teams {
    padding-top: 80px;
    padding-bottom: 60px;
    /*background: #105C86;*/
    background: #105C86 url('../images/patterns/diagonal-waves.png') repeat;
}

.meet-our-teams .single-person {
    padding-bottom: 60px;
}

.meet-our-teams .single-person .team-icon img {
    /*font-size: 80px;*/
    width: 250px;
    height: 250px;
    border: 4px solid transparent;
    transition: all 0.5s;
    border: 2px solid #D1E7F8;
}

.meet-our-teams .single-person h3 {
    margin-top: 20px;
    color: #fff;
}

.team-position {
    font-weight: 600;
    color: #FBDC73;
    font-family: brandon_light;
    font-size: 18px;
}

.team-member p {
    color: #ffffff !important;
}

.focus {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.focus:hover {
    -webkit-filter: grayscale(100%);
    box-shadow: 0 0 15px #fff;
}

/*---------------------------------------
   SECTION:  books
-----------------------------------------*/

.books {
    padding-top: 80px;
    padding-bottom: 120px;
}

.books .shot {
    /*background: #D1E7F8;*/
    padding: 4px;
    margin: 10px;
    /*border-radius: 4px;*/
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
}

.books .shot img {
    /*border-radius: 4px;*/
    width: 100%;
    border: 2px solid #D1E7F8;
}

.bookDis h4 {
    font-size: 18px;
    font-weight: 500;
    color: #FBDC73;
    font-family: brandon_med;
}

.bookDis h5 {
    font-size: 17px;
    font-weight: 500;
    font-family: brandon_light;
    color: #fff;
}

.prev {
    float: left;
    margin-left: -6%;
    margin-top: -28%;
    color: #FBDC73;
    font-size: 40px;

}

.prev:hover {
    color: #ffffff;
}

.next:hover {
    color: #ffffff;
}

.next {
    float: right;
    margin-right: -6%;
    margin-top: -28%;
    color: #FBDC73;
    font-size: 40px;
}

/*---------------------------------------
   SECTION:  HELP FUND US
-----------------------------------------*/

.helpFunds {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #011C40 url("../images/patterns/black-scales.png");
}

.donate_amount {
    background-color: transparent;
    width: 35%;
    margin-bottom: 25px;
    font-family: brandon_light;
}

.amount {
    /*width: 100%;*/
    height: 65px;
    text-align: center;
    border: none;
    font-size: 30px;
    line-height: 65px;
    letter-spacing: 1.1px;
    color: #8696ad;
    border-bottom: 2px solid #8cceff;
    outline: none !important;
    font-family: brandon_light;
}

.donateContainer {
    padding-top: 35px;

}
input {
    -webkit-appearance: none;
}

input {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.helpFunds .top-buttons {
    height: 88px;
    width: 100%;
    margin-top: 31px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-hori-center {
    justify-content: center;
}

.helpFunds .top-buttons .support-us-monthly .check {
    position: absolute;
    border: 1px solid #5EB4F4;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    background-color: #5EB4F4;
    border-radius: 100%;
}

.helpFunds .top-buttons .support-us-monthly .check div {
    color: #ffffff;
}

.helpFunds .top-buttons .support-us-monthly .button-text {
    font-size: 17px;
    letter-spacing: 0.9px;
    color: #36425F;
    font-weight: 400;
    margin: auto;
    font-family: brandon_med;
}

.helpFunds .top-buttons .support-us-monthly {
    width: 300px;
    height: 75px;
    margin-left: 22px;
    border-radius: 6px;
    background-color: #FCDD74;
    border: solid 2px #FCDD74;
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
}

.helpFunds .donate-buttons {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.helpFunds .donate-buttons .paypal {
    width: 284.8px;
    height: 52px;
    border-radius: 26px;
    background-color: #5EB4F4;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.helpFunds .donate-buttons .paypal .button-text {
    font-size: 17px;
    letter-spacing: 0.9px;
    color: #FFF;
    margin: auto;
    font-weight: 400;
    font-family: brandon_light;
}

.helpFunds .donate-buttons .cc {
    width: 345px;
    height: 52px;
    border-radius: 26px;
    background-color: #5EB4F4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    cursor: pointer;
}

.helpFunds .donate-buttons .cc .button-text {
    font-size: 17px;
    letter-spacing: 0.9px;
    color: #FFF;
    margin: auto;
    font-weight: 400;
    font-family: brandon_med;
}

/*---------------------------------------
   SECTION:  DOWNLOAD
-----------------------------------------*/

.join-now {
    background: #011C40 url('../images/patterns/pattern01.png') repeat;
    color: #ffffff;
    background-size: auto;
}

.join-now .color-overlay {
    padding-top: 110px;
    padding-bottom: 70px;
}

.join-now .join-now-container {
    padding-bottom: 80px;
}

.join-now .subscription-form-container {
    padding-bottom: 80px;
}

.join-now .subscription-form .input-box {
    height: 57px;
    padding-left: 20px;
    width: 320px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid #fbdc73;
    color: #ffffff;
}

.join-now .subscription-form .input-box:focus,
.join-now .subscription-form .input-box:active {
    color: #ffffff;
    font-weight: 400;
}

.join-now .subscription-form .subscription-success,
.join-now .subscription-form .subscription-error {
    display: none;
}

.join-now h2 {
    margin-bottom: 30px;
}

/*---------------------------------------
   SECTION:  FOOTER
-----------------------------------------*/
footer {
    background: #011C40 url("../images/patterns/pattern01.png");
    font-family: brandon_med;
}

footer .contact-box {
    margin-bottom: 78px;
}

footer .contact-box .contact-button {
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    vertical-align: middle;
    padding-top: 100px;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

.form-control::-moz-placeholder {
    color: #FBDC73;
    font-family: brandon_med;
}

.form-control:-ms-input-placeholder {
    color: #FBDC73;
    font-family: brandon_med;
}

.form-control::-webkit-input-placeholder {
    color: #FBDC73;
    font-family: brandon_med;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 1px solid #28C4FE;
    color: #ffffff;
    font-size: 16px;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 1px solid #28C4FE;
}

footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    color: #FFF;
}

footer .social-icons {
    margin-top: 30px;
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    /*margin: 5px;*/
    margin-right: -20px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #FED276;
}

footer .copyright {
    color: #5EB4F4;
    padding-top: 10px;
    margin-bottom: 50px;
    border-top: 1px solid #5EB4F4;
}

.volunteer-button {
    margin-top: 25px;
}

.volunteerBtn {
    background: #FCDD74;
    border-radius: 2px;
    padding: 15px 25px;
    color: #011C40;
    font-size: 15.5px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: brandon_med;
}

.hello {
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    font-family: brandon_light;
}

.icon-box {
    margin-right: 30px;
    margin-bottom: 17px;
    width: 45px;
    height: 45px;
    display: inline-table;
    border: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}

.icon-box i {
    color: #fff;
    font-size: 18px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.icon-box:hover {
    background-color: #FCDD74;
    border: 1px solid #FCDD74;
}

.icon-box i:hover {
    color: #202C3D;
}

.footer-left-side {
    float: left;
}

.footer-right-side {
    float: right;
}

/*CENTER DIAMOND*/
hr {
    border: 0;
    height: 1px;
    width: 30%;
    position: relative;
}

.hr {
    background: #5EB4F4;
}

.center-diamond {
    background: #5EB4F4;
}

.center-diamond:before {
    background: #FCDD74;
    content: "";
    display: inline-block;
    height: 15px;
    left: 48%;
    /*margin: 0 0 0 12px;*/
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 15px;
}

/*END CENTER DIAMOND*/

/*--------------------------------------------------------------
ANIMATION ELEMENTS--RAY, SNOWFALL, RAINBOW BG, AND IPHONE HIGHLIGHT
----------------------------------------------------------------*/

.ray {
    position: absolute;
    z-index: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 174, 255, .5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 174, 255, .5);
    box-shadow: 0px 0px 5px 2px rgba(0, 174, 255, .5);
}

.ray-vertical {
    height: 200%;
    width: 1px;
    transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
}

.ray-horizontal {
    width: 200%;
    height: 1px;
    transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
}

.y-0 {
    top: 0;
}

.y-25 {
    top: 25%;
}

.y-50 {
    top: 50%;
}

.y-75 {
    top: 75%;
}

.y-100 {
    top: 100%;
}

.x-0 {
    left: 0;
}

.x-25 {
    left: 25%;
}

.x-50 {
    left: 50%;
}

.x-75 {
    left: 75%;
}

.x-100 {
    left: 100%;
}

.ray-rotate45 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.ray-rotate-45 {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ray-rotate135 {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.ray-rotate-135 {
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.animation-box {
    display: inline-block;
    position: relative;
}

@-webkit-keyframes laser-blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    22% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.4;
    }
    42% {
        opacity: 1;
    }
    98% {
        opacity: 0.8;
    }
}

@keyframes laser-blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    22% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.4;
    }
    42% {
        opacity: 1;
    }
    98% {
        opacity: 0.8;
    }
}

.laser-blink {
    animation: laser-blink 0.7s linear 0s infinite;
    -webkit-animation: laser-blink 0.7s linear 0s infinite;
}

@-webkit-keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0);
    }
}

@keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        transform: scale(0);
    }
}

.highlight-left {
    position: absolute;
    animation: highlight-left 2s ease-in 0s infinite;
    -webkit-animation: highlight-left 2s ease-in 0s infinite;
    left: 85px;
    margin-top: -105px;
}

@-webkit-keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0)
    }
}

@keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        transform: scale(0)
    }
    70% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        transform: scale(0)
    }
}

.highlight-right {
    position: absolute;
    animation: highlight-right 2s ease-in 0s infinite;
    -webkit-animation: highlight-right 2s ease-in 0s infinite;
    right: 85px;
    margin-top: -150px;
}

.snowfall {
    background-image: url('../images/s1.png'),
    url('../images/s2.png'),
    url('../images/s3.png');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

.rainbow-bg {
    -webkit-animation: rainbowBg 5s infinite;
    /* Chrome, Safari, Opera */
    animation: rainbowBg 5s infinite;
    border-bottom: none;
}

@-webkit-keyframes rainbowBg {
    0%,
    100% {
        background: #061D2F;
        opacity: 0.8;
        background: url("../images/patterns/white-wall-3-2.png") repeat;
    }
    /*33% {*/
    /*background: #225F83;*/
    /*!*opacity: 0.8;*!*/
    /*background: url("../images/patterns/diagonal-waves.png") repeat;*/
    /*}*/
    66% {
        background: #011C40;
        opacity: 0.8;
        background: url("../images/patterns/snow.png") repeat;
    }
}

@keyframes rainbowBg {
    0%,
    100% {
        background: #061D2F;
        opacity: 0.8;
        background: url("../images/patterns/white-wall-3-2.png") repeat;
    }
    /*33% {*/
    /*background: #225F83;*/
    /*!*opacity: 0.8;*!*/
    /*background: url("../images/patterns/diagonal-waves.png") repeat;*/
    /*}*/
    66% {
        background: #011C40;
        opacity: 0.8;
        background: url("../images/patterns/snow.png") repeat;
    }
}

/*----------------------------------------------------------------------
END ANIMATION ELEMENTS--RAY, SNOWFALL, RAINBOW BG, AND IPHONE HIGHLIGHT
-----------------------------------------------------------------------*/

/*------NAVIGATION BRACKET EFFECTS------*/

.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/*------END NAVIGATION BRACKET EFFECTS------*/

/*------BOX SHADOW EFFECTS------*/

.effect8 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect8:before, .effect8:after {
    content: "";
    /*position:absolute;*/
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.effect8:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

/*------END BOX SHADOW EFFECTS------*/
/*----------------------------------------------------------------------------------------
										MAIN NAVIGATION
----------------------------------------------------------------------------------------*/

/* Animated Scroll to Top */

body:not(.device-touch) #gotoTop {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}

#gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: transparent;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border: 1px solid #FCDD74;
}

.effect8 {
    margin-left: 10px;
    margin-bottom: 10px;
}